@model english_learning_application.Models.Tag

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, english_learning_application

<h2>Edit Tag</h2>

<form asp-action="Edit">
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Words" class="control-label"></label>
        <select asp-for="Words" asp-items="@(new SelectList(ViewBag.Words, "ID", "OriginalWord", Model.Words))" multiple class="form-control"></select>
        <span asp-validation-for="Words" class="text-danger"></span>
        <input asp-for="ID" type="hidden" />
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
       
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
